@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif !important;
  background-color: #2c3e50;
}
body .flowtime .ft-section .ft-page {
  background-color: #2980b9;
}
body .flowtime .ft-section .ft-page .video-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
body .flowtime .ft-section .ft-page .title-hero,
body .flowtime .ft-section .ft-page .title-person {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  display: block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
body .flowtime .ft-section .ft-page .title-person {
  top: 60%;
  font-size: 2vw;
  font-style: italic;
}
body .flowtime .ft-section .ft-page .title-page {
  display: block;
  margin: 0 0 5% 0;
  color: white;
  font-size: 4vw;
  width: 100%;
}
body .flowtime .ft-section .ft-page .content {
  color: white;
  font-size: 2vw;
  width: 100%;
}
body .flowtime .ft-section .ft-page .content:before,
body .flowtime .ft-section .ft-page .content:after {
  content: " ";
  display: table;
}
body .flowtime .ft-section .ft-page .content:after {
  clear: both;
}
body .flowtime .ft-section .ft-page .content p {
  margin: .3vh 0;
  font-size: 2vw;
  line-height: 1.5;
}
body .flowtime .ft-section .ft-page .content ul li {
  font-size: 2vw;
  padding-left: 1vw;
  margin-bottom: 2vw;
}
body .flowtime .ft-section .ft-page .content .clm-2 {
  width: 50%;
  padding: 2%;
  float: left;
}
body .flowtime .ft-section .ft-page .content .clm-2 img {
  width: 100%;
}
body .flowtime .ft-section .ft-page.overflow {
  overflow-y: auto;
}
body .ft-page-thumb {
  width: 2vw;
  height: 2vh;
  margin-right: .2vw;
  margin-bottom: .3vh;
}
