// ===== Responsive Styles ===========================================================================
// Author: Akbar Khrisna (XTREMAX Pte Ltd - http://www.xtremax.com)
// 14 July 2015
// Info: Main styling for Supreme Court, define basic styling in variables.less
// ===================================================================================================

// import bootstrap variables, grid and mixins
@import "../js/vendor/bootstrap/less/variables.less";
@import "../js/vendor/bootstrap/less/mixins.less";

// import external font
@import "defaults.less";

// html
html, body {
	height: 100%;
}

// body
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	// header
	header {
		border-top: 3px sol id @brand-red;
		height: 111px;
		background: #fff;
		-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
		.clearfix;

		// logo
		.logo {
			float: left;
			padding-top: 18px;

			// smal
			&.small {
				display: none;
			}
		}

		// go to
		.headernav {
			float: right;
			width: 728px;
			text-align: right;

			// mobile button
			.mobilebutton {
				display: none;
				font-size: 1.3em;

				// anchor
				a {
					float: right;
					display: block;
					padding: 10px 10px 9px 10px;
					border-radius: 3px;
					margin-right: 1px;
					line-height: 1em;
					margin-top: 20px;

					// i
					i {
						color: @brand-red;
					}
				}
			}

			// goto
			.goto {
				font-family: @font-family-alt;
				font-size: 0.57em;
				margin: 10px 0 0 0;
				color: @brand-gray;

				// label
				label {
					display: inline-block;
				}

				// ul
				ul.main {
					display: inline-block;
					margin: 0;
					padding: 0 0 0 0px;

					// li
					li {
						list-style-type: none;
						display: inline-block;
						margin-left: 10px;
						position: relative;

						// anchor
						a {
							text-decoration: underline;
							color: @brand-gray;
						}

						// ul
						.dropdown-menu {
							font-family: @font-family-alt;
							font-size: inherit;
							border-radius: 0px;
							min-width: 120px;
							padding: 0;
							max-height: 200px;
							overflow: auto;
							left: auto;
							right: 0;

							// li
							li {
								margin-left: 0px;
								display: block;

								// anchor
								a {
									text-decoration: none;
									width: 100%;
									display: block;
								}
							}
						}
					}
				}
			}

			// goto
			.tools {
				.clearfix;
				
				// resizwer
				.resizer {
					margin: 10px 10px 0 0;
					padding: 0px 0 0 0;
					float: right;

					// li
					li {
						list-style-type: none;
						float: left;
						margin-left: 5px;
						
						// anchor
						a {
							width: 17px;
							height: 16px;
							background: url( '../img/ic-resizer.png' );
							display: block;

							// decrease
							&.rvfs-decrease {
								background-position:  0 -32px;
							}

							// decrease
							&.rvfs-reset {
								background-position:  0 -16px;
							}
						}
					}
				}

				// search
				.search {
					float: right;
					position: relative;

					// text
					.searchbox {
						border: 1px solid #999;
						border-radius: 2px;
						font-size: 0.778em;
						width: 295px;
						height: 30px;
						padding: 0 30px 0 10px;
					}

					// button
					.searchbutton {
						position: absolute;
						right: 4px;
						top: 0;
						background: transparent;
						border: 0px;

						// icon
						i {
							font-size: 0.722em;
							color: @gray;
						}
					}
				}
			}

			// goto
			.inner {
				font-family: @font-family-alt;
				font-size: 0.57em;
				margin: 0px 0 0 0;
				float: right;

				// li
				li {
					list-style-type: none;
					float: left;
					margin-left: 11px;
					position: relative;

					// anchor
					a {
						color: @brand-gray;
						padding-top: 2px;
						display: inline-block;
						text-transform: uppercase;

						// img
						img {
							float: left;
							margin: 4px 5px 0 0;
						}

						// hover
						&:hover {
							text-decoration: none;
						}

						// before
						&::before {
							height: 3px;
							background: @brand-red;
							content: "";
							display: none;
							position: absolute;
							left: 0;
							right: 0;
							top: -2px;
						}
					}

					// after
					&::after, &::before {
						content: "";
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 3px 3px 0;
						border-color: transparent @brand-red transparent transparent;
						position: absolute;
						top: -2px;
						left: -3px;
						display: none;
					}

					// before
					&::before {
						border-style: solid;
						border-width: 3px 3px 0 0;
						border-color: @brand-red transparent transparent transparent;
						left: auto;
						right: -3px;
					}

					// hover
					&:hover, &.active {
						
						// anchor
						a {
							&::before {
								display: block;
							}
						}

						// after
						&::after, &::before {
							display: block;
						}
					}

					// first child
					&:first-child { 
						display: none;
					}
				}
			}
		}
	}

	// navigation
	nav.navigation {
		height: 45px;
		width: 100%;
		background: #434a54;
		-webkit-box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.4);
		box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.4);
		font-size: 0.78em;

		// container
		.container {
			position: relative;

			// menu
			> .menu {
				display: none;
			}

			// ul
			> ul {
				margin: 0;
				padding: 0;
				.clearfix;

				// active
				&.active {
					li {
						.opacity( 0.4 );
					}
				}

				// li
				li {
					list-style-type: none;
					display: inline-block;
					width: 190px;
					float: left;
					border-right: 1px solid lighten(#434a54, 4%);
					position: relative;
					z-index: 900;
					.transition( all 0.3s );

					// anchor
					a {
						color: #fff;
						height: 45px;
						display: block;
						font-weight: bold;
						padding-top: 8px;
						text-align: center;
						position: relative;
						outline: 0;

						// after
						&::after {
							width: 100%;
							height: 3px;
							content: "";
							position: absolute;
							bottom: 0;
							background: @brand-lightred;
							display: block;
							.opacity( 0 );
							.transition( all 0.3s );
						}

						// img
						img {
							display: none;
							margin: 0 7px 0 0;
						}
						
						// hover
						&:hover {
							text-decoration: none;
						}
					}

					// first & last
					&:first-child, &:nth-child(6) {
						width: 90px;

						// anchor
						a {

							// img
							img {
								display: inline-block;
								margin: 0;
							}
						}
					}

					&:last-child {
						display: none;
					}

					// first
					&:first-child {
						border-left: 1px solid lighten(#434a54, 4%);
						z-index: 0;
						
						// anchor
						a {

							

							// hover
							&:hover {

								// after
								&::after {
									.opacity( 1 );
								}
							}
						}
					}

					// active
					&.active {
						
						// anchor
						a {
							&::after {
								.opacity( 1 );
							}
						}
					}

					// hover
					&.open {
						.opacity( 1 );

						// last child
						&:nth-child(6) {
							border-right: 1px solid lighten(#434a54, 10%);

							// anchor
							a {
								background: lighten(#434a54, 10%);
							}
						}

						// anchor
						a {
							background: #fff;
							color: @brand-blue;

							// after
							&::after {
								.opacity( 0 );
							}
							
							// img
							img {
								display: inline-block;
							}

							// hover
							&:hover {
								text-decoration: none;

								// after
								&::after {
									.opacity( 0 );
								}
							}
						}
					}
				}
			}
		}

		// submenu
		.submenu {
			position: absolute;
			z-index: 900;
			top:45px;
			left: 10px;
			right: 10px;
			background: #fff;
			display: none;
			.transition( all 0.3s );
			color: @gray-light;

			// active
			&.active {
				display: block;
			}

			// more
			.left, .right {
				padding-top: 25px;
				padding-bottom: 25px;

				// label
				label {
					width: 30%;
					float: left;
					font-size: 0.857em;
					font-weight: bold;
					text-align: right;
					line-height: 1.3em;
					padding-right: 15px;
				}

				// label
				.content {
					min-height: 123px;
					border-left: 1px solid #dedede;
					width: 70%;
					float: left;
					padding-left: 20px;
					line-height: 1.3em;
				
					// space
					.space {
						margin-bottom: 15px;

						// title
						.title {
							font-size: 12px;
							font-weight: bold;
						}
					}

					// list
					ul.list {
						font-size: 14px;
						width: 80%;
						margin: 0;
						padding: 0;

						// li
						li {
							list-style-type: none;
							margin-bottom: 8px;
						
							// anchor
							a {
								text-decoration: underline;
								color: inherit;

								// hover
								&:hover {
									color: @brand-blue;
								}
							}
						}
					}
				}

				// search
				.search {
					position: relative;

					// input
					.inputheader {
						background: @brand-blue;
						color: #fff;
						border: 0px;
						border-bottom: 2px solid darken(@brand-blue, 10%);
						padding: 10px;
						width: 100%;
						font-size: 1em;
						
						&:-moz-placeholder { /* Firefox 18- */
						   font-style: italic;
						}
						&::-moz-placeholder {  /* Firefox 19+ */
						   font-style: italic;
						}
						&:-ms-input-placeholder {  
						   font-style: italic;
						}
						&::-webkit-input-placeholder {  
						   font-style: italic;
						   color: lighten(@brand-blue, 20%);
						}
					}

					// tooltip
					.tooltip {
						font-size: 0.778em;
					}

					.searchButton {
					    position: absolute;
					    top: 0;
					    right: 0;
					    margin: 0;
					    padding: 15px 10px;
					}

					// button
					button {
						position: absolute;
						right: 9px;
						top: 8px;
						background: transparent;
						border: 0px;
					}
				}
			}

			// left
			.left {
				.make-md-column( 5 );
				.make-sm-column( 5 );
			}

			// right
			.right {
				.make-md-column( 7 );
				.make-sm-column( 7 );

				// label
				label {
					width: 20%;
				}

				// label
				.content {

					// space
					.space {
						font-size: 13px;
					}
				}
			}

			// left
			.footer {
				background: #e2d9cd;
				position: relative;
				font-size: 12px;
				padding: 15px 40px 15px 40px;
				.clearfix;

				// label
				label {
					float: left;
					color: @gray-darker;
				}

				// ul
				.menulist {
					margin: 0 0 0 30px;
					padding: 0;
					float: left;
					width: 70%;

					// li
					li {
						display: inline-block;
						margin-right: 45px;

						// anchor
						a {
							text-decoration: underline;
						}
					}
				}

				// goto
				.goto {
					position: absolute;
					right: 20px;
					bottom: 20px;

					// anchor
					a {
						height: 86px;
						width: 86px;
						background: @brand-blue;
						border-bottom: 2px solid darken(@brand-blue, 10%);
						color: #fff;
						display: block;
						font-size: 11px;
						line-height: 1.3em;
						font-weight: bold;
						padding: 12px 15px;
						position: relative;
						.transition( all 0.3s );

						// img 
						img {
							position: absolute;
							bottom: 15px;
							right: 10px;
						}

						// hover
						&:hover {
							text-decoration: none;
							background: darken(@brand-blue, 10%);
						}
					}
				}
			}

			// more
			&.more {
				background: none;
				width: 180px;
				left: auto;
				right: 10px;
			}
		}
	}

	// main
	div[role="main"] {
		
		// banner
		.banner {
			overflow: hidden;
			padding-bottom: 20px;

			// wrap
			.wrap {
				.make-row();
				.clearfix;
				margin-top: 20px;
				position: relative;


				// left
				.left {
					.make-md-column( 6 );

					// block
					.left {
						.make-md-column( 4 );
					}

					// visitor guide
					.right {
						.make-md-column( 8 );
					}
				}

				.right {
					.make-md-column( 6 );

					// block
					.left {
						.make-md-column( 8 );
					}

					// visitor guide
					.right {
						.make-md-column( 4 );
					}

					// block
					.block {
						height: 140px;
					}
				}

				.list-date-wrap {
					overflow-x: auto;
				}


				
				// bg
				.hearings, .latestjudgment, .block, .visitorguide, .updates, .ourjudge {
					background-repeat: no-repeat;
					background-size: cover !important;
				}

				// subscribe
				.subscribe {
					background: #fff;
					border-bottom: 5px solid @brand-blue;
					height: 140px;
					text-align: center;

					// a
					a {
						display: block;
						height: 100%;
						width: 100%;
						padding: 31px 15px 10px 15px;

						// hover
						&:hover {
							color: @gray;
						}
					}

					// title
					.title {
						color: @gray;
						font-size: 0.611em;
						line-height: 1.3em;
						font-weight: bold;
						display: block;
						margin: 0 0 10px 0;
					}
				}

				// aboutus
				.currentpage {
					height: 280px;
					width: 100%;
					background-size: cover;
					
					// label
					.pagelabel {
						a {
							width: 140px;
							height: 140px;
							background: @brand-lightred;
							padding: 32px 10px 10px 10px;
							display: block;
							border-right: 20px solid #f2f0e4;
							border-bottom: 20px solid #f2f0e4;
							text-align: center;

							// hover
							&:hover {
								color: #fff;
							}

							// img
							.text {
								display: block;
								font-size: 0.778em;
								color: #fff;
								font-weight: bold;
								line-height: 1.1em;
								margin-top: 5px;
							}
						}

						// blue
						&.blue {
							a {
								background: @brand-blue;
							}
						}
					}
				}

				// hearings
				.hearings {
					width: 100%;
					height: 120px;
					background: #fff;
					.clearfix;

					> div {
						.clearfix;
						height: 100%;
						width: 100%;
					}

					// icon label
					.iconlabel {
						width: 120px;
						height: 100%;
						background: @brand-blue;
						color: #fff;
						text-align: center;
						padding-top: 25px;
						float: left;

						a {
							color: #fff;
						}

						// text
						.text {
							font-size: 0.611em;
							font-weight: bold;
							line-height: 1.2em;
						}
					}

					// search
					.searchhearing {
						position: relative;
						padding: 25px 0 0px 20px;
						float: left;

						// input
						.searchbox {
							border: 0px;
							border-bottom: 1px solid #999;
							border-radius: 0px;
							font-size: 0.778em;
							width: 290px;
							padding: 7px;
						}

						// button
						.searchbutton {
							position: absolute;
							right: -6px;
							top: 34px;
							background: transparent;
							border: 0px;
							font-size: 0.778em;
							color: #999;
						}

						// all
						.viewall {
							font-size: 0.611em;
							clear: both;
							display: block;
							text-align: center;
							padding: 5px 0 0 0;
							color: @gray;
							font-weight: bold;
						}
					}
				}

				// carousel
				.latestjudgment, .updates {

					// carousel
					.carousel {
						height: 100%;
						width: 100%;
					}

					// item
					.item {
						padding: 30px 40px 30px 40px;
						height: 100%;
						outline: 0;

						// anchor
						a {
							text-decoration: none;
							outline: 0;

							// focus
							&:focus {
								outline: 0;
							}
						}

						// type
						.type {
							font-size: 0.611em;
							font-weight: bold;
							color: #fff;
							display: block;
						}

						// title
						.title {
							font-size: 1.667em;
							font-family: @font-family-serif;
							color: #fff;
							margin-top: 10px;
							margin-bottom: 20px;
						}

						// description
						.description {
							font-size: 0.722em;
							color: #fff;
							width: 60%;

							// before
							&::before {
								width: 50%;
								height: 1px;
								background: rgba( 255,255,255,0.2 );
								display: block;
								content: "";
								margin-bottom: 15px;
							}
						}
					}

					// slick
					.slick-dots {
						position: absolute;
						bottom: 0px;
						left: 0px;

						// li
						li {
							list-style-type: none;
							display: inline-block;
							margin-right: 5px;

							// button
							button {
								.text-hide();
								width: 8px;
								height: 8px;
								border-radius: 4px;
								border: 1px solid #fff;
								background: transparent;
								padding: 0;
							}

							// active
							&.slick-active {

								// button
								button {
									background: #eec724;
									border-color:#eec724;
								}
							}
						}
					}

					// click arrow
					.slick-arrow {
						position: absolute;
						right: 20px;
						bottom: 14px;
						width: 23px;
						height: 23px;
						background: #656d78;
						color: #fff;
						display: block;
						font-size: 11px;
						text-align: center;
						padding-top: 2px;
						outline: 0;
						.opacity( 0.8 );
						.transition( all 0.3s );

						// hover
						&:hover {
							.opacity( 1 );
						}

						// slick prev
						&.slick-prev {
							right: 44px;
						}
					}
				}

				// latest judgment
				.latestjudgment {
					width: 100%;
					height: 300px;
					background: url( '../img/content/bg-latestjudgment.png' );
					position: relative;
				}

				// block
				.block {
					width: 100%;
					height: 120px;
				}

				// visitor guide
				.visitorguide {
					width: 100%;
					height: 120px;
					background: #000;
					position: relative;

					// anchor
					a {
						display: block;
						height: 100%;
						width: 100%;

						// hover
						&:hover {
							.goto {
								text-decoration: underline;
							}
						}
					}

					// label img
					.labelimage {
						float: left;
						height: 100%;
					}

					// goto
					.goto {
						font-size: 0.611em;
						color: #fff;
						position: absolute;
						right: 10px;
						bottom: 10px;
						font-weight: bold;

						// img
						img {
							float: right;
							margin: 7px 0 0 7px;

						}
					}
				}

				// updates
				.updates {
					width: 100%;
					height: 300px;
					background: #fff;

					// item
					.item {

						// type
						.type {
							color: @gray-light;
						}

						// title
						.title {
							color: @gray-darker;
							font-family: @font-family-base;
							font-size: 1em;
							line-height: 1.4em;
						}

						// description
						.description {
							color: @gray;
							font-size: 0.667em;
							width: 100%;
							line-height: 1.5em;

							// before
							&::before {
								background: rgba( 0,0,0,0.2 );
							}
						}
					}

					// slick
					.slick-dots {

						// li
						li {

							// button
							button {
								border: 1px solid @gray;
							}
						}
					}

					// click arrow
					.slick-arrow {
						background: #eec724;
					}
				}

				// block
				.ourjudge {
					margin-top: 20px;
					width: 100%;
					height: 140px;
					background: rgba(0, 0, 0, 0) url("../img/content/bg-visitorguide.png") repeat scroll 0 0;

					// anchor
					a {
						display: block;
						height: 100%;
						width: 100%;

						// img 
						> img {
							width: auto;
							height: 100%;
						}

						// hover
						&:hover {
							.goto {
								text-decoration: underline;
							}
						}
					}

					// goto
					.goto {
						font-size: 0.611em;
						color: #fff;
						position: absolute;
						right: 10px;
						bottom: 10px;
						font-weight: bold;
						line-height: 1.3em;

						// img
						img {
							float: right;
							position: relative;
							top: -11px;
							right: 11px;
						}
					}
				}
			}

			// decor
			.decor {
				position: absolute;
				width: 500px;
				top: 0px;
				background: #333;
				height: 100%;
				

				// left
				&.leftside {
					right: 101%;
					.decorimg {
						background-position: left;
					}
				}

				// right
				&.rightside {
					left: 101%;
					.decorimg {
						background-position: center;
					}
				}

				div {
					width: 100%;
					height: 100%;
				}

				// decoerimg
				.decorimg {
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
		}

		// infobar
		.infobar {
			width: 100%;
			padding: 30px 0 30px 0;
			background: #e2d9cd;
			-webkit-box-shadow: inset 1px 4px 3px -3px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: inset 1px 4px 3px -3px rgba(0, 0, 0, 0.3);
			box-shadow: inset inset 1px 4px 3px -3px rgba(0, 0, 0, 0.3);

			// wrap
			.wrap {
				.make-row();

				// left
				.left, .right {
					.make-md-column( 6 );
					.make-sm-column( 6 );

					// tiles
					.tiles {
						box-shadow: none;
						-webkit-box-shadow: none;
						.clearfix;

						// li
						li {
							float: left;
							border: 0px;
							padding-right: 0;
							padding-left: 0;
							border-left: 1px solid #e2d9cd;
							width: 17.8%;
							
							// anchor
							a {
								
								// label
								.label {
									font-size: 10px;
									padding: 0 14px 0 14px;
								}
							}

							// first
							&:first-child {
								background: none;
								width: 12%;
				
								// after
								&::after {
									display: none;
								}

								// title
								.title {
									color: @gray;
									font-size: 12px;
									padding-top: 22px;
									padding-left: 0px;
								}
							}
						}
					}
				}

				// right
				.right {

					// tiles
					.tiles {

						// li
						li {

							// after
							a {
								border-color: @brand-blue;

								// label
								.label {
									color: @brand-blue;
									display: block;
									white-space: inherit;
								}

								// hover
								&:hover {
									background: lighten(@brand-blue, 35%);
								}
							}
						}
					}
				}
			}
		}

		// content
		.content {
			margin-bottom: 20px;
			line-height: 1.5em;

			// container
			.container {
				padding-left: 60px;
				padding-right: 60px;
				position: relative;
			}

			// container
			.wrap {
				background: #fff;
				padding: 25px;
				-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
				-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
				box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);

				// alt
				&.alt {
					background: #fcfbf8;
				}

				// about text
				&.textpadding {
					p, .pads {
						width: 88%;
						margin: auto;
						margin-bottom: 25px;
					}
				}

				// registrars
				.textwrap {
					width: 88%;
					margin: auto;
					color: #726d67;
					margin-bottom: 40px;

					// h1
					h1, h2, h3 {
						color: #726d67;
					}
				}

				// description form
				.preform {
					width: 80%;
					margin: 0 auto 25px;
					display: block;
					text-align: center;
				}
			}

			// k treeview 
			.k-treeview {

				.k-in {
					border: none;
				}
				
				.k-icon {
					position: relative;

					&::before {
					    content: '';
					    position: absolute;
					    top: 0;
					    left: 0;
					    width: 16px;
					    height: 16px;
					    display: block;
					}

					&.k-plus {

						&::before {
							background-image: url('../img/ic-chevron-right.png');
						}
					}

					&.k-minus {

						&::before {
							background-image: url('../img/ic-chevron-down.png');
						}
					}
				}
			}

			// errow
			&.error {
				margin-top: 20px;

				// wrap
				.wrap {
					h2 {
						margin-bottom: 10px;
					}
					p {
						font-size: 0.85em;
						margin-bottom: 10px;
						color: @gray-light;
						a {
							text-decoration: underline;
						}
					}
					.returnbutton {
						font-size: 0.85em;
					}
				}
			}
		}

		// pagenav
		.pagenav {
			margin: 0 0 20px 0;

			// container
			.container {
				padding-left: 60px;
				padding-right: 60px;
			}
			
			// wrap
			.wrap {
				background: #fcfbf8;
				-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
				-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
				box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
				.clearfix;
				font-family: @font-family-alt;

				// breadcrumb
				.breadcrumb {
					float: left;
					background: none;
					margin: 0;
					font-size: 0.556em;
					text-transform: uppercase;
					padding: 15px 0 12px 20px;

					// li
					li {
						color: @gray-light;
						a {
							color: @brand-blue;
						}
					}

					> li + li:before {
						content: ">";
					}
				}

				// share
				.share {
					float: right;
					margin: 14px 0 0 0;
					padding: 0;
					font-size: 0.556em;

					// li
					li {
						list-style-type: none;
						display: inline-block;
						margin-right: 20px;

						// anchor
						a {
							color: @brand-blue;

							// img
							img {
								float: left;
								margin: 0 10px 0 0;
							}
						}
					}
				}
			}
		}

		// about block
		.aboutblock {

			// single
			&.single {

				// vision
				.vision {
					margin-bottom: 0px;
				}

				// title
				.title {
					font-size: 1.143em;
					
					// after
					&::after, &::before {
						display: none;
					}
				}
			}

			// vision
			.vision {
				width: 100%;
				padding: 30px;
				background: @brand-blue;
				margin-bottom: 20px;
				-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
				-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
				box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
				.clearfix;

				// title
				.title {
					float: left;
				}
			
				// links
				.links {
					float: right;
				}
			}

			// info
			.info {
				.make-row();
				.clearfix;

				// court
				.court, .bench {
					.make-sm-column( 6 );
					.make-md-column( 4 );
					position: relative;
				}
				
				// reg
				.registry {
					.make-sm-column( 12 );
					.make-md-column( 4 );
					position: relative;
				}
				
				// court and bench
				.court, .bench {

					// wrap
					.wrap {
						padding: 30px;
						height: 412px;
						position: relative;
						background: @brand-lightred;
					}


					// links
					.links {
						position: absolute;
						bottom: auto;
						top: 265px;
						left: 30px;
					}
				}

				// registry
				.registry {

					// wrap
					.wrap {
						background: none;
						padding: 0;
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;

						// top
						.top, .bottom {

							// wrap
							.innerwrap {
								background: @brand-yellow;
								padding: 30px;
								height: 196px;
								-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
								-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
								box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
								position: relative;
							}
						}
						
						// top
						.top {
							margin-bottom: 20px;
						}
					}

					// title
					.title {

						// after
						&::before, &::after {
							display: none;
						}
					}
				}

				// title
				.title {
					font-size: 1em;

					// after
					&::before {
						bottom: -25px;
					}

					// after
					&::after {
						bottom: -25px;
					}
				}

				// links
				.links {
					position: absolute;
					bottom: 30px;
					left: 30px;
				}
			}

			// title
			.title {
				color: #fff;
				font-size: 1.4em;
				font-weight: bold;
				line-height: 1.1em;
				position: relative;

				// after
				&::before {
					width: 100px;
					height: 4px;
					background: #fff;
					content: "";
					display: block;
					position: absolute;
					bottom: -15px;
				}

				// after
				&::after {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 4px 0 0;
					border-color: #ffffff transparent transparent transparent;
					content: "";
					position: absolute;
					left: 100px;
					bottom: -15px;
					display: block;
				}
			}

			// links
			.links {
				margin: 0;
				padding: 0;
				font-size: 0.778em;

				// li
				li {
					list-style: none;
					display: block;
					margin: 0 0 2px 0;
					position: relative;

					// before
					&::before {
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 0 11px 11px;
						border-color: transparent transparent #fff transparent;
						content: "";
						position: absolute;
						left: -10px;
						top: 9px;
						display: block;
						.opacity( 0 );
						.transition( all 0.3s );
					}
					
					// anchor
					a {
						color: #fff;
						font-weight: bolder;
						text-decoration: underline;
						.transition( all 0.3s );

						// hover
						&:hover {
							.opacity( 0.7 );
						}
					}

					// hover
					&:hover, &.active {

						// before
						&::before {
							left: -20px;
							.opacity( 1 );
						}
					}
				}
			}
		}

		// interested
		.interested {
			width: 100%;
			color: @gray-light;
			padding: 30px 0 30px 0;
			background: #e2d9cd;
			-webkit-box-shadow: inset 1px 4px 3px -3px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: inset 1px 4px 3px -3px rgba(0, 0, 0, 0.3);
			box-shadow: inset inset 1px 4px 3px -3px rgba(0, 0, 0, 0.3);

			// label
			.labels {
				font-size: 12px;
				color: inherit;
				font-weight: bold;
				padding: 0;
			}

			// block
			.contentblock {
				margin: 20px 0 0 0;
				padding: 0;
				.clearfix;
				.make-row();

				// li
				li {
					list-style: none;
					display: block;
					.make-sm-column( 6 );
					.make-md-column( 3 );

					// anchor
					a {
						width: 100%;
						height: 116px;
						background: #fff;
						display: block;
						-webkit-box-shadow: 0px 1px 2px 0px rgba(237,93,107,0.3);
						-moz-box-shadow: 0px 1px 2px 0px rgba(237,93,107,0.3);
						box-shadow: 0px 1px 2px 0px rgba(237,93,107,0.3);
						padding: 25px;
						font-size: 0.778em;
						line-height: 1.3em;
						font-weight: bold;
						color: @gray-light;
						border-bottom: 1px solid lighten(@brand-lightred, 20%);
						text-decoration: underline;
						position: relative;
						.transition( all 0.3s );

						// hover
						&:hover {
							background: lighten(@brand-lightred, 33%);

							// after
							&::after {
								.opacity( 1 );
							}
						}

						// after
						&::after {
							width: 32px;
							height: 33px;
							background: url( '../img/ic-contentflip.png' );
							position: absolute;
							top: -1px;
							right: -1px;
							content: "";
							.opacity( 0 );
							.transition( all 0.3s );
						}
					}

					// active
					&.active {

						// anchor
						a {
							// after
							&::after {
								.opacity( 1 );
							}
						}
					}
				}
			}
		}

		// timeselector
		.timeselector {
			margin: 0;
			padding: 0;
			.clearfix;
			-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
			-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);

			// li
			li {
				width: 33.3333333%;
				float: left;
				list-style: none;

				// anchor
				a {
					display: block;
					padding: 25px 0 25px 0;
					background: #eeeeee;
					text-align: center;
					color: @gray;
					text-decoration: none;
					.transition( all 0.3s );

					// date
					.date {
						line-height: 1em;
						font-size: 0.611em;
					}
				}

				// active
				&.active, &:hover {

					// anchor
					a {
						background: @brand-blue;
						color: #fff;
					}
				}
			}
		}

		// filters
		.filters {
			color: @gray;
			margin: 20px 0 0 0;
			padding: 0px;
			.clearfix;
			background: #eeeeee;
			-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
			-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);

			// li
			li {
				list-style: none;
				width: 33.3333%;
				float: left;
				font-size: 0.778em;
				.clearfix;
				padding: 5px;
				border-right: 1px solid darken(#eeeeee, 20%);

				// input
				select, select.form-control {
					width: 50%;
					float: right;
					font-size: 1em;
					margin: 0;
					padding: 2px;
				}

				// last
				&:last-child {
					border-right: 0px;
				}
			}
		}

		// duties
		.duties {
			margin: 20px 0 0 0;
			padding: 0px;
			.make-row();
			.clearfix;
			color: @gray-light;
			margin-left: -15px;
			margin-right: -15px;

			// li
			li {
				.make-sm-column( 4 ); 
				.make-md-column( 4 ); 
				padding: 0 15px 0 15px;
				list-style: none;

				// wrap
				.wrap {
					display: block;
					background: #eeeeee;
					padding: 15px 20px 15px 20px;
					min-height: 100px;
					color: @gray-light;
					-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
					-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
					box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);

					// role
					.role {
						font-size: 0.778em;
						font-weight: bold;
					}

					// name
					.name {
						font-size: 0.611em;
						text-decoration: underline;
						line-height: 1.3em;
					}
				}
			}
		}

		// floating button
		.floatingbutton {
			position: absolute;
			right: 30px;
			top: 0px;

			a {
				font-size: 11px;
				font-weight: bold;
				width: 50px;
				display: block;
				text-align: center;
				line-height: 1.2em;
				color: #666666;
				position: fixed;

				img {
					margin-top: 10px;
				}
			}
		}

		// accordion.custom
		.accordion.custom.hearing {
			margin-top: 20px;

			// week
			&.week {

				// list
				li {

					// header
					.header {
						a {
							padding: 0;
						
							// pointer
							.pointer {
								margin: 33px 20px 0 0 ;
							}
						}
					}
				}
			}

			// li
			li {

				// header
				.header {
					position: relative;

					// anchor
					a {
						height: 80px;

						// pointer
						.pointer {
							margin-top: 15px;
						}

						// text
						.text {
							padding: 6px 0 0 0;
						}

						// calendar
						.calendar {
							width: 80px;
							float: left;
							height: 100%;
							border-right: 1px solid #d0d0d0;
							text-align: center;
							line-height: 1.3em;
							font-weight: normal;
							padding: 21px 0 0 0;
						}

						// day
						.day {
							float: left;
							margin:  28px 0 0 20px;
							font-size: 1.6em;
							font-weight: 200;
						}
					}

					// judge
					.judge {
						position: absolute;
						z-index: 1;
						display: block;
						top: 18px;
						left: 18px;
						.clearfix;

						// profile
						.profilepicture {
							float: left;
							border: 1px solid @gray-light;
						}

						// profile
						.profile {
							float: left;
							margin: 5px 0 0 10px;
							color: @gray-light; 

							// name
							.name {
								font-size: 0.778em;
								font-weight: bold;
								line-height: 1em;
							}

							// info
							.info {
								margin: 0;
								padding: 0;
								line-height: 1em;
						
								// li
								li {
									list-style: none;
									display: inline-block;
									position: relative;
									margin-right: 10px;

									// after
									&::after {
										width:3px;
										height: 3px;
										background: @gray-light;
										content: "";
										position: absolute;
										border-radius: 2px;
										top: 8px;
										right: -8px;
									}
									

									// title
									&.title {
										font-size: 0.611em;
										border: 0;
									}

									// bio
									&.bio {
										a {
											background: none;
											font-weight: normal;
											font-size: 0.611em;
											padding: 0;
											color: @gray-light;
											text-decoration: underline;
											height: auto;
										}
									}

									// last
									&:last-child {
										// after
										&::after {
											display: none;
										}
									}
								}
							}
						}
					}
				}

				// content
				.cont {
					
					// panel
					.panel-body {
						padding: 0;

						// p
						p {
							padding: 20px;
						}

						// hearing detail
						.hearing-detail {
							.make-row();

							// wrap
							.wraps {
								padding: 15px;
							}

							// time
							.time {
								.make-sm-column( 2 );
								.make-md-column( 2 );
								font-size: 0.857em;

								

								// clock
								.clock, .location {
									display: block;
									line-height: 1.4em;
								}
								.clock {
									font-weight: bold;
								}
							}

							// case
							.case {
								.make-sm-column( 10 );
								.make-md-column( 10 );
								border-left: 1px solid #cccccc;
								.clearfix;
								
								// meta
								.meta {
									.clearfix;
									font-size: 0.857em;
								}

								// label
								.casenumber {
									float: left;
								}
								.caselabel {
									float: right;
								}

								// info
								.info {
									clear: both;
									background: #efefef;
									margin: 20px;
									-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
									-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
									box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
									padding: 25px 25px 0 25px;
									.clearfix;
									
									// set
									ul {
										margin: 0 0 10px 0;
										padding: 0;
										width: 50%;
										float: left;

										// li
										li {
											
											line-height: 1.4em;
											border: 0;
											margin-bottom: 25px;
											padding: 0 10px 0 10px;

											// label
											label {
												display: block;
												font-size: 0.786em;
												margin: 0;
											}
										}
									}

									
								}
							}
						}
					}

					// sub accordion
					.accordion.custom {
						margin-top: 0px;
						border: 0px;
						-webkit-box-shadow: none;
						-moz-box-shadow:  none;
						box-shadow: none;
						font-size: 1.2em;

						// li
						li {

							// header
							.header {

								// anchor
								a {
									background: darken(#f0f0f0 , 6%);
								}
							}

							// open
							&.open {

								// header
								.header {

									// anchor
									a {
										background: darken(@brand-blue , 5%);
									}
								}
							}
						}
					}
				}

				// open
				&.open {

					// header
					> .header {

						// judge
						.judge {
							.profile {
								color: #fff;

								// info
								.info {
									li {
										&::after {
											background: #fff;
										}
										&.bio {
											a {
												color: #fff;
											}
										}
									}
								}
							}
						}

						// anchor
						a {

							// calendar
							.calendar {
								border-color: lighten(@brand-blue, 10%);
							}
						}
					}
				}
			}
		}

		// amendments
		// accordion custom
		ul.accordion.custom.amendments {

			// li
			li {

				// header
				.header {
					a {
						font-size: 1.333em;
						font-weight: normal;
						text-transform: none;
						
						// pointer
						.pointer {
							margin-top: 7px;
						}
					}
				}

				// content
				.cont {

					// bodybody .accordion.custom li .cont .panel-body .wide-listing ul li a .title
					.panel-body {
						font-size: 1em;
						padding: 0;

						// p
						p {
							padding: 20px 15px 20px 15px;
						}

						// listing
						.wide-listing {

							// ul
							ul {

								// li
								li {
									padding: 20px 15px 20px 15px;
									border-bottom: 1px solid #d3d3d3;

									// anchor
									a {
										// download
										.download {
											img {
												margin-top: 9px;
											}
										}

										// title
										.title {
											text-decoration: none;
										}
									}

									// last
									&:last-child {
										border-bottom: 0px;
									}
								}
							}
						}
					}
				}
			}
		}

		// faq
		.faq {
			padding: 0 20px 0 20px;

			// wraps
			.wrap {
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				.clearfix;

				// frequent
				.menu {
					padding-right: 30px;
					width: 30%;
					float: left;

					// h2
					h2 {
						color: @brand-red;
					}

					// menu
					> ul {
						margin: 0;
						padding: 0;
						font-size: 0.9em;

						// li
						> li {
							list-style: none;
							font-weight: bold;
							margin-bottom: 15px;
							line-height: 1.5em;

							// dropdown
							&.dropdown {

								ul {
									display: none;
								}
							}

							// ul
							ul {
								margin: 10px 0 0 0;
								padding: 0 0 0 20px;
								display: none;

								// opem
								&.open {
									display: block;
								}

								// li
								li {
									font-weight: normal;
									list-style-image: url( '../img/ic-bulletpoint.png');
									margin-bottom: 5px;
								}
							}
						}
					}
				}

				// frequent
				.content {
					width: 67%;
					float: right;

					// input
					.form {
						.clearfix;

						// input
						input, input.form-control {
							width: 257px;
							height: 30px;
							float: left;
						}

						// btn
						.btn {
							width: 90px;
							height: 30px;
							float: left;
							margin-left: 10px;
							padding: 0;
							text-align: center;
							background: #dedede;
							color: @gray-light;
							font-size: 0.75em;
							border: 1px solid #dedede;
						}

						// link
						.advancedsearch {
							font-size: 0.65em;
							float: right;
							margin: 4px 0 0 0;
						}
					}

					// expand
					.contractbutton {
						text-align: right;
						display: block;
						font-size: 0.9em;
						text-decoration: underline;
						margin-bottom: 50px;

						// minimize
						&.minimizeall {
							display: none;
						}
					}

					// ol
					ol {
						font-size: 0.9em;

						// li
						li {

							// anchor
							a {
								text-decoration: underline;
							}

							// answer
							.answer {
								max-height: 0;
								overflow: hidden;
								.transition( all 0.3s );
							}

							// open
							&.open {

								// anchor
								a {
									color: @brand-blue;
								}

								// answer
								.answer {
									max-height: 1000px;
								}
							}
						}
					}
				}
			}
		}

		// rss list
		.rsslist {
			margin: 0 50px 50px 50px;

			// li
			li {
				list-style-image: url( '../img/ic-rss.png' );
			}
		}

		// textbanner
		.textbanner {
			text-align: center;
			width: 80%;
			margin: auto;
			color: #726d67;

			// align left
			&.alignleft {
				text-align: left;
				margin-bottom: 20px;
				width: 85%;
			}
		}

		// block
		.judgmentblock {
			margin: 40px 0 0 0;
			padding: 0;

			// li
			> li {
				list-style: none;
				margin-bottom: 30px;

				// judgment
				.judgmentpage {
					background: #fff;
					color: #75706a;
					padding: 10px 20px 15px 20px;
				
					// text
					.text {
						width: 80%;
						font-weight: normal;
					
						// small
						small {
							font-weight: bold;
							margin: 3px 0 0 0;
							text-transform: none;
						}
						// decision
						.decision {
							font-weight: normal;
							margin-top: 5px;
							font-size: 12px;
							padding: 0;
							margin: 3px 0 0 0;

							// li
							li {
								list-style: none;
								display: inline-block;

								// after
								&:after {
									content: " | ";
									margin: 0 2px 0 2px;
									position: relative;
									top: -1px;
								}

								// last
								&:last-child {
									&:after {
										display: none;
									}
								}
							}
						}
					}

					// download
					.download {
						width: 20%;

						a {
							display: block;
							.clearfix;
							margin: 14px 0 0 0;
						}

						img {
							float: left;
						}
						.size {
							float: left;
							display: block;
							font-size: 16px;
							margin: 14px 0 0 10px;

						}
					}
				}

				// last
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		// updates
		.pageupdates {
			font-size: 0.611em;
			color: #999999;
			font-family: @font-family-alt;
			margin: 10px 0 0 0; padding: 0;

			// li
			li {
				list-style: none;
			}

			li.lastupdate {
				float: left;
				margin: 0 0 0 20px;
			}
			li.nextupdate {
				float: right;
				margin: 0 20px 0 0;
			}
		}

		// filter
		.judgmentfilter {
			.clearfix;
			margin-top: 30px;
			padding: 0 0 0 30px;
			color: #75706a;

			// amount
			.amount {
				font-size: 1.333em;
				float: left;
				width: 70%;
			}

			// sort
			.sort {
				font-size: 0.667em;
				width: 30%;
				text-align: right;
				float: right;
				margin-top: 5px;
			
				// label
				label {
					font-weight: normal;
					display: inline-block;
				}

				select {
					display: inline-block;
				}
			}
		}

		// medioa release filter
		.mediafilter {
			font-size: 0.778em;
			margin-top: 30px;

			label {
				font-weight: normal;
				color: #726d67;
			}
		}

		// table media
		.table.media {
			margin-bottom: 0px;
			margin-top: 30px;

			// table
			table {
				tbody {
					tr {
						td {
							font-size: 0.778em;
							line-height: 1.5em;
							color: #75706a;

							// anchor
							a {
								color: #75706a;
							}
						}

						// hover
						&:hover {
							td {
								background: #f8f8f8;
							}
						}
					}
				}
			}
		}

		// publications
		.publications {
			.clearfix;
			margin-bottom: 50px;

			// report thumb
			.reportthumb {
				float: left;
				margin: 8px 20px 0 0;
			}

			// text
			.reporttext {
				margin: 0 0 0 20px;
				overflow: auto;
			}

			// annualreportlist
			.annualreportlist {
				margin: 0;
				padding: 0;

				li {
					list-style: none;
					a {
						text-decoration: underline;
					}
				}
			}
		}

		// other publications
		.otherpublications {
			margin: 0;
			padding: 0;
			.clearfix;
		
			// li
			li {
				list-style: none;
				width: 40%;
				display: block;
				float: left;
				margin: 0 40px 0 0;

				// anchor
				a {
					display: block;
					height: 212px;
					background: #726d67;
					color: #fff;
					padding: 20px;
				}
			}
		}

		// publicationslinks
		.publicationslinks {
			margin: 70px 0 0 0;
			border-top: 1px solid #726d67;
			padding: 70px 0 50px 0;

			// li
			li {
				display: block;
				list-style: none;
				text-align: center;

				// anchor
				a {
					color: @gray;

					// hover
					&:hover {
						color: @brand-blue;
					}
				}
			}
		}

		// chiefjustice
		.chiefjustice {
			.clearfix;

			// img
			img {
				float: left;
				max-width: 100%;
			}

			// info
			.info {
				float: left;
				margin: 0 0 0 20px;
				width: 200px;

				// h3
				h3 {
					font-size: 1em;
					margin: 20px 0 0 0;
					line-height: 1.4em;
				}
				// ul
				ul {
					margin: 25px 0 0 0; padding: 0;
					
					// li
					li {
						list-style: none;
						display: block;
						margin: 0 0 10px 0;
						.clearfix;

						// anchor
						a {

							&:hover {
								.text {
									color: @gray-dark;
									text-decoration: underline;
								}
								
							}
						}

						// img
						img {
							float: left;
							margin:  -3px 0 0 0;
						}

						// text
						.text {
							display: block;
							float: left;
							padding: 0 0 0 20px;
						}
					}	
				}
			}
		}

		// judgelist
		.judgelist {
			.make-row();
			.clearfix;

			// judge
			.judge {
				.make-sm-column( 6 );
				.make-md-column( 6 );
				margin-bottom: 30px;

				// img
				img {
					width: 100%;
					max-width: 100%;
				}

				// infobox
				.infobox {
					background: #efefef;
					-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
					-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
					box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
					color: #726d67;
					padding: 15px;

					// h3
					h3 {
						font-size: 0.778em;
						margin: 0;
						color: #726d67;
					}
					ul {
						margin: 0;
						padding: 0;

						// li
						li {
							list-style: none;
							display: inline-block;
							font-size: 0.611em;
							position: relative;
							margin-right: 10px;

							// a 
							a {
								color: #726d67;
							}

							// after
							&::after {
								width:3px;
								height: 3px;
								background: @gray-light;
								content: "";
								position: absolute;
								border-radius: 2px;
								top: 13px;
								right: -8px;
							}

							// last
							&:last-child {
								// after
								&::after {
									display: none;
								}
							}
						}
					}
				}
			}
		}

		// return button
		.returnbutton {
			margin: 50px 0 0 20px;
			display: inline-block;
			background: @brand-lightred;
			color: #fff;
			padding: 3px 30px 7px 30px;
			text-align: center;
			height: 36px;
			position: relative;
			
			// before 
			&:before {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 18px 18px 18px 0;
				border-color: transparent @brand-lightred transparent transparent;
				content: "";
				position: absolute;
				left: -18px;
				top: 0;
			}
		}

		// mod
		.modal.mod {
			

			// dialog
			.modal-dialog {
				background: #fff;
				width: 780px;
				height: 475px;
				margin: 100px auto;
			}

			// header
			.modal-header {
				.clearfix;
				padding-left: 80px;
				padding-right: 80px;
				border: 0px;

				// close
				.close {
					position: absolute;
					top: 15px;
					right: 15px;
					.opacity( 0.7 );
					.transition( all 0.3s );

					// hover
					&:hover {
						.opacity( 1 );
					}
				}
				
				// header
				h4 {
					width: 60%;
					float: left;
					font-size: 1em;
					font-weight: bold;
				}

				// share
				.share {
					width: 40%;
					float: right;
					margin: 9px 0 0 0;
					padding: 0;
					font-size: 0.556em;
					font-family: @font-family-alt;

					// li
					li {
						list-style-type: none;
						display: inline-block;
						margin-right: 20px;

						// anchor
						a {
							color: @brand-blue;

							// img
							img {
								float: left;
								margin: 0 10px 0 0;
							}
						}

						// last
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}

			// body
			.modal-body {
				padding-left: 80px;
				padding-right: 80px;
				.clearfix;

				// mod.photo
				.mod-photo {
					float: left;
					width: 25%;
					
					// img
					img {
						width: 100%;
						border: 1px solid @brand-blue;
					}
				}

				// ul
				.mod-tab {
					padding-left: 20px;
					width: 75%;
					float: left;

					// tab
					ul.nav.nav-tabs {
						.clearfix;
						border: 0;
						margin: -10px 0 0 0;

						// li
						li {
							width: 33.3333%;
							float: left;
							padding: 0;
							margin: 0;
							border: 0;
							text-align: left;

							// anchor
							a {
								margin: 0;
								padding: 0;
								border: 0;
								display: inline-block;
								border-bottom: 4px solid #fff;

								// after
								// after
								&::after, &::before {
									content: "";
									width: 0;
									height: 0;
									border-style: solid;
									border-width: 0 3px 3px 0;
									border-color: transparent @brand-red transparent transparent;
									position: absolute;
									bottom: -3px;
									left: -3px;
									display: none;
								}

								// before
								&::before {
									border-style: solid;
									border-width: 3px 3px 0 0;
									border-color: @brand-red transparent transparent transparent;
									left: auto;
									right: -3px;
								}
							}

							// active
							&.active, &:hover {
								a {
									margin: 0;
									border: 0;
									border-bottom: 4px solid @brand-red;
									background: none;
									padding: 0;
									color: inherit;

									// after
									&::after, &::before {
										display: block;
									}
								}
							}
						}
					}

					// tab content
					.tab-content {
						margin-top: 20px;

						// pane
						.tab-pane {
							height: 320px;
							overflow: auto;
							font-size: 0.778em;

							// p
							p {
								margin-bottom: 10px;
							}
						}
					}
				}

			}
		}
	}	
	
	// footer
	footer {
		background: #434a54;
		width: 100%;
		padding: 5px 0 6px 0;
		font-family: @font-family-alt;
		font-size: 10px;

		// copy
		ul {
			margin: 0;
			padding: 0;

			// copyright
			&.copyright {
				float: left;
			}

			// nav
			&.footernav {
				float: right;
			}

			// li
			li {
				list-style-type: none;
				display: inline-block;
				margin-right: 10px;
				color: #fff;

				// after
				&::after {
					content: " | ";
					margin-left: 10px;

				}

				// anchor
				a {
					color: #fff;

					// img
					img {
						float: left;
						margin: 5px 5px 0 0;
					}
					
					// hover
					&:hover {
						color: #fff;
					}
				}

				// last
				&:last-child {
					margin-right: 0px;

					// after
					&::after {
						display: none;
					}
				}
			}
		}
	}

	// overlay
	.overlay {
		width: 100%;
		height: 100%;
		background: rgba( 0,0,0,0.5 );
		position: fixed;
		left: 0;
		top: 0;
		display: none;
		z-index: 800;

		// active
		&.active {
			display: block;
		}
	}

	// font resize
	.rvfs-1 { font-size: 70% }
	.rvfs-2 { font-size: 80% }
	.rvfs-3 { font-size: 90% }
	.rvfs-4 { font-size: 100% } /* initial font size for 'variations' default value: 7 */
	.rvfs-5 { font-size: 110% }
	.rvfs-6 { font-size: 120% }
	.rvfs-7 { font-size: 130% }
}