@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
a,
input:focus {
  outline: 0 !important;
}
body .tooltip {
  font-size: 0.64em;
  line-height: 1.35em;
}
body .tooltip .tooltip-inner {
  padding: 10px;
  max-width: 230px;
}
body .tooltip ul {
  margin: 0;
  padding: 0 0 0px 15px;
  text-align: left;
}
body h1 {
  font-weight: normal;
  margin: 0 0 40px 0;
  color: #4d4d4d;
}
body h1.main {
  font-weight: 300 !important;
  text-align: center;
  display: block;
  width: 80%;
  margin: 0px auto 40px;
  text-transform: uppercase;
  line-height: 1.3em;
}
body h1.main::after {
  width: 122px;
  height: 4px;
  background: url('../img/bg-separator.png');
  content: "";
  display: block;
  margin: auto;
  margin-top: 20px;
}
body h1.noline::after {
  display: none;
}
body h2 {
  color: #333333;
  font-weight: normal;
  margin: 0 0 25px 0;
}
body h3 {
  color: #333333;
  font-weight: bold;
  margin: 0 0 25px 0;
}
body h1.spacer,
body h2.spacer,
body h3.spacer {
  margin: 0 0 25px 25px;
}
body p {
  margin: 0 0 25px 0;
}
body p.main {
  text-align: center;
}
body .listing ul {
  padding: 0 0 0 20px;
  margin: 0 0 40px 0;
}
body .listing ul > li {
  list-style-image: url('../img/ic-bulletpoint.png');
}
body .listing ul ul {
  margin: 0 0 25px 0;
}
body .listing ul ul li {
  list-style-type: disc;
  list-style-image: none;
}
body .listing ul ul ul {
  margin: 0;
}
body .listing ul ul ul li {
  list-style-type: lower-roman;
}
body .alert {
  font-size: 0.778em;
  border-radius: 0px;
  margin-bottom: 10px;
}
body .alert .title {
  font-weight: bold;
}
body .alert.alert-warning {
  background: #f3e6b1;
  border-color: #ecd885;
}
body .alert.alert-success {
  background: #cfecd9;
  border-color: #aadebc;
}
body .alert.alert-danger {
  background: #f9e3e5;
  border-color: #f0b9be;
}
body .alert.alert-info {
  background: #e7eff7;
  border-color: #c1d5ea;
}
body .table {
  overflow: auto;
  width: 100%;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
body table {
  width: 100%;
}
body table .small,
body table .time {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}
body table tr td {
  padding: 20px;
  line-height: 1.2em;
}
body table thead tr td {
  background: #5790dd;
  color: #fff;
  border: 1px solid #5790dd;
}
body table tbody tr td {
  border: 1px solid #e1e1e1;
}
body table tbody tr td .time {
  font-weight: bold;
}
body .judgmentselect {
  background: #ffffff url('../img/ic-caret-block.png') right center no-repeat;
  border-bottom: 1px solid #ddd;
  padding: 7px 9px 7px 0;
  width: 110px;
  text-align: left;
  cursor: pointer;
}
body .mediaselect {
  background: #ffffff url('../img/ic-caret-block.png') 61px center no-repeat;
  border: 1px solid #ddd;
  padding: 2px 5px 2px 15px;
  width: 80px;
  cursor: pointer;
  margin-left: 10px;
}
body .hasCustomSelect {
  cursor: pointer !important;
}
body .form-question {
  margin-bottom: 10px;
}
body .form-wrap {
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0 18px 0 18px;
}
body .form-wrap label {
  margin-right: 50px;
  font-size: 0.778em;
  font-weight: normal;
  cursor: pointer;
}
body .form-wrap input {
  float: left;
  margin: 7px 10px 0 0;
}
body .form-wrap .small {
  margin: 0;
}
body .form-wrap .refresh {
  text-decoration: underline;
  font-size: 0.778em;
}
body textarea,
body textarea.form-control {
  width: 70%;
  border-radius: 0px;
  font-size: 0.778em;
  margin-bottom: 10px;
  border-color: #b2b2b2;
}
body select,
body select.form-control {
  width: 70%;
  border-radius: 0px;
  font-size: 0.778em;
  margin-bottom: 10px;
  border-color: #b2b2b2;
  height: auto;
  padding: 5px;
}
body input,
body input.form-control {
  padding: 5px 10px 5px 10px;
  height: auto;
  border-radius: 0px;
  font-size: 0.778em;
  margin-bottom: 10px;
  border-color: #b2b2b2;
}
body .form-control.half {
  width: 40%;
  display: inline-block;
  margin: 0 10px 10px;
  padding: 7px 10px;
}
body .form-control.half:first-of-type {
  margin-left: 0;
}
body .inlineform {
  clear: both;
  width: 70%;
  margin: auto;
}
body .inlineform .group {
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
}
body .inlineform .group:before,
body .inlineform .group:after {
  content: " ";
  display: table;
}
body .inlineform .group:after {
  clear: both;
}
body .inlineform .group .inputlabel {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 992px) {
  body .inlineform .group .inputlabel {
    float: left;
    width: 33.33333333%;
  }
}
body .inlineform .group .formelement {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 992px) {
  body .inlineform .group .formelement {
    float: left;
    width: 66.66666667%;
  }
}
body .inlineform .group .formelement.offset {
  margin: 20px 0 10px 0;
}
@media (min-width: 992px) {
  body .inlineform .group .formelement.offset {
    margin-left: 33.33333333%;
  }
}
body .inlineform .group .formelement .refresh {
  text-decoration: underline;
  font-size: 0.778em;
}
body .inlineform .group .formelement textarea {
  width: 100%;
}
body .inlineform .group .RadCaptcha .formelement {
  left: 115px;
}
body .inlineform .group .RadCaptcha img.captcha {
  float: none;
  display: block;
  border: 1px solid #b2b2b2;
  margin: 0;
}
body .inlineform .group .RadCaptcha a.rcRefreshImage {
  font-size: 14px;
  line-height: 1.5;
  color: #5790dd;
}
body .doubleform {
  clear: both;
  width: 70%;
  margin: auto;
}
body .doubleform .group {
  margin-left: -10px;
  margin-right: -10px;
}
body .doubleform .group:before,
body .doubleform .group:after {
  content: " ";
  display: table;
}
body .doubleform .group:after {
  clear: both;
}
body .doubleform .group .inputlabel {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 992px) {
  body .doubleform .group .inputlabel {
    float: left;
    width: 100%;
  }
}
body .doubleform .group .formelement {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 992px) {
  body .doubleform .group .formelement {
    float: left;
    width: 100%;
  }
}
body .doubleform .group .formelement.offset {
  margin: 20px 0 10px 0;
}
@media (min-width: 992px) {
  body .doubleform .group .formelement.offset {
    margin-left: 33.33333333%;
  }
}
body .doubleform .group .formelement.option {
  margin-bottom: 30px;
}
body .doubleform .group .formelement.option .item {
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
body .doubleform .group .formelement.option .item:hover,
body .doubleform .group .formelement.option .item.active {
  border-color: #5790dd;
}
body .doubleform .group .formelement.option .separator {
  display: inline-block;
  margin: 0 5px;
}
body .doubleform .group .formelement.notes {
  margin-top: 50px;
}
body .doubleform .group .formelement.agreement {
  margin: 20px 0;
}
body .doubleform .group .formelement.agreement input {
  float: left;
  display: block;
}
body .doubleform .group .formelement.agreement span {
  display: block;
  float: left;
  padding-left: 10px;
  width: 80%;
}
body .doubleform .group .formelement.upload {
  margin-bottom: 10px;
}
body .doubleform .group .formelement.upload .uploadfile {
  display: none;
  width: 100%;
  padding: 10px 20px;
  background: #ccc;
  position: relative;
}
body .doubleform .group .formelement.upload .uploadfile:before,
body .doubleform .group .formelement.upload .uploadfile:after {
  content: " ";
  display: table;
}
body .doubleform .group .formelement.upload .uploadfile:after {
  clear: both;
}
body .doubleform .group .formelement.upload .uploadfile .value {
  display: block;
  float: left;
  word-break: break-all;
  max-width: 90%;
}
body .doubleform .group .formelement.upload .uploadfile .close {
  font-size: 18px;
  font-weight: normal;
  border-radius: 50%;
  background: red;
  color: white;
  line-height: 15px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
  float: left;
  opacity: .4;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
body .doubleform .group .formelement.upload .uploadfile .close:hover {
  opacity: 1;
}
body .doubleform .group .formelement.upload .wraper {
  position: relative;
}
body .doubleform .group .formelement.upload .attach {
  display: none;
}
body .doubleform .group .formelement.upload .btn-upload {
  padding: 5px 0;
  margin: 0;
}
body .doubleform .group .formelement .title {
  margin-top: 30px;
}
body .doubleform .group .formelement .sub-title {
  margin-bottom: 5px;
}
body .doubleform .group .formelement ol {
  padding-left: 25px;
}
body .doubleform .group .formelement .refresh {
  text-decoration: underline;
  font-size: 0.778em;
}
body .doubleform .group .formelement textarea {
  width: 100%;
}
body .notification-box.error-msg {
  clear: both;
  border: 1px solid #98022F;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 0;
  color: #98022F;
  position: relative;
}
body .notification-box.error-msg::before {
  content: '\00D7';
  position: absolute;
  left: 10px;
  top: 14px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #98022F;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 16px;
  font-weight: 800;
}
body .notification-box.error-msg ul {
  margin: 0 0 0 40px;
  padding: 10px;
  list-style-type: none;
  background-color: #fff;
}
body .notification-box.error-msg ul li {
  color: #98022F;
  margin-bottom: 8px;
}
body .notification-box.error-msg ul li:last-child {
  margin-bottom: 0;
}
body .list-date {
  width: 80%;
  margin: 10px auto;
  box-shadow: 0px 1px 5px 0px #ccc;
}
body .list-date ul {
  margin: 0;
  padding: 0;
}
body .list-date ul:before,
body .list-date ul:after {
  content: " ";
  display: table;
}
body .list-date ul:after {
  clear: both;
}
body .list-date ul li {
  list-style: none;
  min-height: 1px;
  float: left;
  padding: 11px 10px;
  height: 60px;
}
body .list-date ul li.items-1 {
  width: 10%;
  padding: 11px 3px;
}
body .list-date ul li.items-5,
body .list-date ul li.items-6 {
  width: 15%;
}
body .list-date ul li.items-2,
body .list-date ul li.items-3 {
  width: 20%;
}
body .list-date ul li.items-4 {
  width: 20%;
}
body .list-date ul.header {
  background: #eee;
  border: 1px solid #ccc;
  position: relative;
}
body .list-date ul.header li {
  position: relative;
  border-right: 1px solid #ccc;
  font-size: 16px;
  line-height: 1;
  padding: 0;
}
body .list-date ul.header li .valign {
  width: 100%;
  display: block;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
body .list-date ul.header li.items-4 span {
  width: 33.3%;
}
body .list-date ul.header li:first-child,
body .list-date ul.header li:last-child {
  border-right: none;
}
body .list-date ul.items li {
  border-bottom: 1px solid #ccc;
}
body .list-date ul.items li input[type="checkbox"],
body .list-date ul.items li input[type="radio"] {
  width: auto;
  padding: 0;
  margin: 0;
  display: inline-block;
  box-shadow: none;
}
body .list-date ul.items li .valign {
  width: 100%;
  display: block;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
body .list-date ul.items li .form-control {
  margin: 0;
}
body .list-date ul.items li.items-1 .no {
  margin-left: 10px;
}
body .list-date ul.items li.items-2,
body .list-date ul.items li.items-3 {
  padding: 11px 3px;
}
body .list-date ul.items li.items-2 .form-control,
body .list-date ul.items li.items-3 .form-control {
  width: 79%;
  margin-right: 1%;
  float: left;
  padding: 5px;
}
body .list-date ul.items li.items-2 .img-picker,
body .list-date ul.items li.items-3 .img-picker {
  width: 20%;
  display: block;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
body .list-date ul.items li.items-4 input[type="radio"] {
  width: 29%;
}
body .list-date ul.items li.items-5 select {
  width: 100%;
  padding: 7px 5px;
}
body input.form-control.small {
  height: 50px;
  position: absolute;
  left: 33.33333333%;
  left: calc(33.33333333% + 11px);
  top: 0;
  font-size: 30px;
  line-height: 40px;
}
body input.small {
  width: 112px;
  height: 33px;
  float: left;
  margin-bottom: 0px;
}
body .captcha {
  float: left;
  margin: 0 10px 0 20px;
}
body .mandatory {
  color: #ed5564;
  float: right;
  padding-bottom: 5px;
}
body .btn {
  background: #5790dd;
  border-radius: 2px;
  max-width: 220px;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  word-wrap: break-word;
  border: 1px solid #5790dd;
  height: 60px;
  line-height: 1.1em;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 10px;
}
body .btn:hover {
  background: #4282d9;
  color: #fff;
}
body .btn:focus {
  outline: 0 !important;
  color: #fff;
  background: #efefef;
  color: #555555;
  border-color: #d3d3d3;
}
body .btn.btn-small,
body .btn.btn-upload {
  height: 45px;
  padding: 5px 0px;
  margin: 10px 0;
  width: 30%;
}
body .btn.btn-upload {
  line-height: 33px;
}
body .btn.btn-reset {
  background: #ccc;
  border-color: #ccc;
  color: #222222;
}
body .btn.btn-reset:hover {
  background: #b3b3b3;
}
body .list {
  margin-bottom: 10px;
}
body .list .header a {
  width: 100%;
  display: block;
  padding: 13px 15px 13px 15px;
  background: #e6ded2;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  font-size: 0.778em;
  border: 1px solid #d4c6b1;
  text-transform: uppercase;
  font-weight: bold;
  color: #776242;
}
body .list .header a .arrow {
  float: right;
  display: block;
  width: 17px;
  height: 17px;
  background: url('../img/ic-caret-light.png');
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 4px;
}
body .list .header a.collapsed .arrow {
  background-position: 0 -17px;
}
body .list .listcontent {
  border: 1px solid #d4c6b1;
  border-top: 0px;
  padding: 12px 15px 12px 15px;
}
body .list .listcontent p {
  margin-bottom: 0px;
}
body .accordion.custom {
  margin: 0;
  padding: 0;
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
body .accordion.custom.red li > .header a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
body .accordion.custom.red li > .header a:hover {
  background: #ed5564;
  color: #fff;
}
body .accordion.custom.red li.open > .header a {
  background: #ed5564;
  color: #fff;
}
body .accordion.custom.red li.open > .header a .pointer {
  background-position: 0 0px;
}
body .accordion.custom.red li.open > .cont {
  display: block;
}
body .accordion.custom li {
  list-style: none;
  border: 0px;
  margin: 0;
  border-bottom: 1px solid #d0d0d0;
  border-radius: 0px;
}
body .accordion.custom li .header a {
  background: #5790dd;
  display: block;
  padding: 20px 15px 20px 15px;
  font-size: 0.778em;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: #f0f0f0;
  color: #777777;
}
body .accordion.custom li .header a .pointer {
  float: right;
  width: 15px;
  height: 15px;
  background: url('../img/ic-plusminus.png');
  display: block;
  margin-top: 6px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-position: 0 -15px;
}
body .accordion.custom li .cont {
  display: none;
}
body .accordion.custom li .cont .panel-body {
  padding: 20px 15px 20px 15px;
  font-size: 0.778em;
  color: #726d67;
}
body .accordion.custom li .cont .panel-body .pull-right {
  margin: 5px 0 0 20px;
}
body .accordion.custom li .cont .panel-body p {
  margin-bottom: 0;
}
body .accordion.custom li .cont .panel-body .listing ul,
body .accordion.custom li .cont .panel-body .wide-listing ul {
  margin: 0;
  padding: 0;
}
body .accordion.custom li .cont .panel-body .listing ul li,
body .accordion.custom li .cont .panel-body .wide-listing ul li {
  list-style: none;
  border: 0px;
}
body .accordion.custom li .cont .panel-body .listing ul li a,
body .accordion.custom li .cont .panel-body .wide-listing ul li a {
  color: #726d67;
  text-decoration: underline;
}
body .accordion.custom li .cont .panel-body .listing ul li a:hover,
body .accordion.custom li .cont .panel-body .wide-listing ul li a:hover {
  color: #5790dd;
}
body .accordion.custom li .cont .panel-body .wide-listing ul li {
  display: block;
}
body .accordion.custom li .cont .panel-body .wide-listing ul li a {
  color: #726d67;
}
body .accordion.custom li .cont .panel-body .wide-listing ul li a:before,
body .accordion.custom li .cont .panel-body .wide-listing ul li a:after {
  content: " ";
  display: table;
}
body .accordion.custom li .cont .panel-body .wide-listing ul li a:after {
  clear: both;
}
body .accordion.custom li .cont .panel-body .wide-listing ul li a .title {
  float: left;
  text-decoration: underline;
}
body .accordion.custom li .cont .panel-body .wide-listing ul li a .download {
  float: right;
}
body .accordion.custom li .cont .panel-body .wide-listing ul li a .download img {
  float: left;
  margin: 4px 10px 0 0;
}
body .accordion.custom li .cont .panel-body .column {
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px 0 10px 0;
}
body .accordion.custom li .cont .panel-body .column:before,
body .accordion.custom li .cont .panel-body .column:after {
  content: " ";
  display: table;
}
body .accordion.custom li .cont .panel-body .column:after {
  clear: both;
}
body .accordion.custom li .cont .panel-body .column .left,
body .accordion.custom li .cont .panel-body .column .right {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-right: 50px;
  line-height: 1.35em;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  body .accordion.custom li .cont .panel-body .column .left,
  body .accordion.custom li .cont .panel-body .column .right {
    float: left;
    width: 50%;
  }
}
body .accordion.custom li .cont .panel-body .column .left a,
body .accordion.custom li .cont .panel-body .column .right a {
  color: #726d67;
}
body .accordion.custom li .cont .panel-body .column .left img,
body .accordion.custom li .cont .panel-body .column .right img {
  float: left;
  margin: 0 40px 0 10px;
}
body .accordion.custom li .cont .panel-body .banner {
  width: 80%;
  margin: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
body .accordion.custom li .cont .panel-body .banner img {
  width: 100%;
  margin-bottom: 20px;
}
body .accordion.custom li.open > .header a {
  background: #5790dd;
  color: #fff;
}
body .accordion.custom li.open > .header a .pointer {
  background-position: 0 0px;
}
body .accordion.custom li.open > .cont {
  display: block;
}
body .accordion.custom li:last-child {
  border-bottom: 0px;
}
body .judgmentpage {
  background: #f2f2f2;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}
body .judgmentpage:before,
body .judgmentpage:after {
  content: " ";
  display: table;
}
body .judgmentpage:after {
  clear: both;
}
body .judgmentpage .text {
  float: left;
  font-weight: bold;
}
body .judgmentpage small {
  font-size: 12px;
  display: block;
  margin: 10px 0 10px 0;
  text-transform: uppercase;
  font-weight: normal;
  color: #726d67;
}
body .judgmentpage .download {
  float: right;
  text-align: center;
  font-size: 12px;
}
body .judgmentpage .download a {
  text-decoration: underline;
  display: block;
  margin: 20px 50px 0 0;
  color: #726d67;
}
body .judgmentpage .download a:hover {
  color: #5790dd;
}
body .judgmentpage .download img {
  display: block;
}
body .RadDataPager {
  background: none;
  border: 0px;
  margin: 30px 0 10px 0;
  padding: 0;
  text-align: center;
}
body .RadDataPager .rdpWrap {
  float: none;
  display: inline-block;
  padding: 0;
}
body .RadDataPager .rdpWrap a {
  font-size: 0.778em;
  width: 30px;
  height: 30px;
  float: none;
  display: inline-block;
  text-align: center;
  padding: 3px 0 0 0;
  border: 1px solid #dedede;
  margin: 0 2px 0 2px;
}
body .RadDataPager .rdpWrap a.rdpCurrentPage,
body .RadDataPager .rdpWrap a:hover {
  background: #609ded;
  color: #fff;
  border: 1px solid #609ded;
}
body .RadDataPager .rdpWrap a.rdpCurrentPage span,
body .RadDataPager .rdpWrap a:hover span {
  background: none;
}
body .RadDataPager .rdpWrap a span {
  float: none;
  padding: 0;
  background: none !important;
}
body .RadDataPager .rdpWrap a img {
  margin: 0;
}
.tiles {
  margin: 1px 0 0 0;
  padding: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.tiles:before,
.tiles:after {
  content: " ";
  display: table;
}
.tiles:after {
  clear: both;
}
.tiles li {
  width: 91px;
  height: 78px;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #555555;
  background: #ed5564;
  color: #fff;
  margin: -1px 0 0 -1px;
  position: relative;
}
.tiles li a {
  display: block;
  background: #fff;
  height: 100%;
  border-bottom: 3px solid #c71527;
  overflow: auto;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.tiles li a img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.tiles li a .label {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10px;
  color: #ed5564;
}
.tiles li a:hover {
  background: #fcdfe2;
}
.tiles li:first-child {
  text-align: left;
}
.tiles li:first-child::after {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #c71527;
  content: "";
}
.tiles .title {
  display: block;
  font-size: 11px;
  font-weight: bold;
  padding: 13px 15px 15px 15px;
  line-height: 1.2em;
}
.RadDataPager {
  display: block;
  min-height: 22px;
  padding: 3px 0;
}
.RadDataPager:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.RadDataPager .rdpWrap,
.RadDataPager .rdpWrapRight,
.RadDataPager .rdpWrapNone {
  float: left;
  padding: 0 10px;
  line-height: 22px;
  white-space: nowrap;
}
.RadDataPager .rdpWrapRight {
  float: right;
}
.RadDataPager .rdpWrapNone {
  float: none;
}
.RadDataPager .rdpPageFirst,
.RadDataPager .rdpPagePrev,
.RadDataPager .rdpPageNext,
.RadDataPager .rdpPageLast {
  width: 22px;
  height: 22px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  vertical-align: bottom;
  font-size: 1px;
  cursor: pointer;
}
.RadDataPager .rdpPageFirst,
.RadDataPager .rdpPagePrev {
  margin-right: 1px;
}
.RadDataPager .rdpPageNext,
.RadDataPager .rdpPageLast {
  margin-left: 1px;
}
.RadDataPager .rdpPagerButton {
  height: 22px;
  margin: 0 14px 0 0;
  padding: 0 4px 2px;
  vertical-align: middle;
  cursor: pointer;
}
.RadDataPager .rdpNumPart a {
  float: left;
  margin: 0;
  padding: 0 5px 0 0;
  line-height: 22px;
  text-decoration: none;
}
.RadDataPager .rdpNumPart span {
  float: left;
  padding: 0 0 0 5px;
}
.RadDataPager .rdpNumPart a:hover span {
  cursor: pointer;
}
.RadDataPager .rdpNumPart a.rdpCurrentPage {
  cursor: default;
}
.RadDataPager .rdpNumPart a.rdpCurrentPage:hover,
.RadDataPager .rdpNumPart a.rdpCurrentPage span,
.RadDataPager .rdpNumPart a.rdpCurrentPage:hover span {
  cursor: default;
}
.RadDataPager .rdpWrap a img {
  border: 0;
  margin: 0 8px;
}
.RadDataPager .RadSlider {
  float: left;
  margin: 0 10px 0 0;
}
.RadDataPager .rdpPagerLabel {
  margin: 0 4px 0;
  vertical-align: middle;
}
.RadDataPager .rdpPager .RadComboBox,
.RadDataPager .rdpPager .RadInput {
  margin: 0 4px 0 0;
  vertical-align: middle;
}
* + html .RadDataPager .rdpPager .RadComboBox {
  margin-top: -1px;
}
* html .RadDataPager .rdpPager .RadComboBox {
  margin-top: -1px;
  padding: 1px 0;
}
.RadDataPager .rdpPagerTextBox {
  text-align: center;
}
/* END Telerik.Web.UI.Skins.DataPager.css */
/* START Telerik.Web.UI.Skins.Default.DataPager.Default.css */
.RadDataPager_Default {
  border: 1px solid #828282;
  background: #eee;
  color: #333333;
}
.RadDataPager_Default .rdpPageFirst,
.RadDataPager_Default .rdpPagePrev,
.RadDataPager_Default .rdpPageNext,
.RadDataPager_Default .rdpPageLast {
  background: transparent no-repeat url('/WebResource.axd?d=WqsNcAZeB18X-M3rLr-FxkW1UaU1JYUg223lyP3jEjSB7197RU94lRVa9Yt3DPePxKgQs8hL1bNKHgyS6jHIefedbxrvBeVP8QJ_EYw_MQdBsai_urXCDyGJw0CZk7eA4owpYTb2vSWEjYhdqzp2fsmva782f4-6VuCk-mUm1v01&t=635702450572472466');
}
.RadDataPager_Default .rdpPageFirst {
  background-position: 0 -550px;
}
.RadDataPager_Default .rdpPageFirst:hover {
  background-position: 0 -600px;
}
.RadDataPager_Default .rdpPagePrev {
  background-position: 0 -700px;
}
.RadDataPager_Default .rdpPagePrev:hover {
  background-position: 0 -750px;
}
.RadDataPager_Default .rdpPageNext {
  background-position: 0 -850px;
}
.RadDataPager_Default .rdpPageNext:hover {
  background-position: 0 -900px;
}
.RadDataPager_Default .rdpPageLast {
  background-position: 0 -1000px;
}
.RadDataPager_Default .rdpPageLast:hover {
  background-position: 0 -1050px;
}
.RadDataPager_Default .rdpPagerButton {
  border: 1px solid;
  border-color: #d0d0d0 #aeaeae #8b8b8b;
  background: #e8e8e8 repeat-x 0 -1550px url('/WebResource.axd?d=WqsNcAZeB18X-M3rLr-FxkW1UaU1JYUg223lyP3jEjSB7197RU94lRVa9Yt3DPePxKgQs8hL1bNKHgyS6jHIefedbxrvBeVP8QJ_EYw_MQdBsai_urXCDyGJw0CZk7eA4owpYTb2vSWEjYhdqzp2fsmva782f4-6VuCk-mUm1v01&t=635702450572472466');
  color: black;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
}
.RadDataPager_Default .rdpNumPart a {
  color: #000000;
}
.RadDataPager_Default .rdpNumPart a:hover,
.RadDataPager_Default .rdpNumPart a.rdpCurrentPage {
  background: no-repeat url('/WebResource.axd?d=WqsNcAZeB18X-M3rLr-FxkW1UaU1JYUg223lyP3jEjSB7197RU94lRVa9Yt3DPePxKgQs8hL1bNKHgyS6jHIefedbxrvBeVP8QJ_EYw_MQdBsai_urXCDyGJw0CZk7eA4owpYTb2vSWEjYhdqzp2fsmva782f4-6VuCk-mUm1v01&t=635702450572472466');
}
.RadDataPager_Default .rdpNumPart a:hover span,
.RadDataPager_Default .rdpNumPart a.rdpCurrentPage span {
  background: no-repeat url('/WebResource.axd?d=WqsNcAZeB18X-M3rLr-FxkW1UaU1JYUg223lyP3jEjSB7197RU94lRVa9Yt3DPePxKgQs8hL1bNKHgyS6jHIefedbxrvBeVP8QJ_EYw_MQdBsai_urXCDyGJw0CZk7eA4owpYTb2vSWEjYhdqzp2fsmva782f4-6VuCk-mUm1v01&t=635702450572472466');
}
.RadDataPager_Default .rdpNumPart a:hover {
  background-position: 100% -1250px;
}
.RadDataPager_Default .rdpNumPart a:hover span {
  background-position: 0 -1150px;
}
.RadDataPager_Default .rdpNumPart a.rdpCurrentPage {
  background-position: 100% -1450px;
}
.RadDataPager_Default .rdpNumPart a.rdpCurrentPage:hover {
  background-position: 100% -1450px;
}
.RadDataPager_Default .rdpNumPart a.rdpCurrentPage span,
.RadDataPager_Default .rdpNumPart a.rdpCurrentPage:hover span {
  background-position: 0 -1350px;
}
/* END Telerik.Web.UI.Skins.Default.DataPager.Default.css */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-print-color-adjust: exact;
}
body.modal-open div[role="main"] .content,
body.modal-open div[role="main"] .interested {
  display: none;
}
body .printable {
  display: block !important;
}
body header .logo {
  float: left;
  padding-top: 18px;
}
body header .logo.small {
  display: none;
}
body header .logo a:after {
  content: none !important;
}
body header .headernav {
  display: none;
}
body nav.navigation {
  display: none;
}
body div[role="main"] .banner .wrap .left .latestjudgment {
  margin-top: 50px;
}
body div[role="main"] .banner .wrap .left .latestjudgment .slick-arrow {
  display: none !important;
}
body div[role="main"] .banner .wrap .left .latestjudgment .slick-dots {
  display: none !important;
}
body div[role="main"] .banner .wrap .left .latestjudgment .slick-track {
  width: auto;
  display: block;
  transform: none !important;
}
body div[role="main"] .banner .wrap .left .latestjudgment .item {
  width: 300px !important;
  border: 2px solid #dedede;
  padding: 20px;
  margin-right: 20px;
  display: inline-block;
  min-height: 360px;
}
body div[role="main"] .banner .wrap .left .latestjudgment .slick-cloned {
  display: none;
}
body div[role="main"] .banner .wrap .left .wrap {
  display: none;
}
body div[role="main"] .banner .wrap .right .hearings {
  display: none;
}
body div[role="main"] .banner .wrap .right .wrap .right {
  display: none;
}
body div[role="main"] .banner .wrap .right .wrap .left .updates {
  margin-top: 50px;
  page-break-inside: avoid;
}
body div[role="main"] .banner .wrap .right .wrap .left .updates .slick-arrow {
  display: none !important;
}
body div[role="main"] .banner .wrap .right .wrap .left .updates .slick-dots {
  display: none !important;
}
body div[role="main"] .banner .wrap .right .wrap .left .updates .slick-track {
  width: 100% !important;
  display: block;
  transform: none !important;
}
body div[role="main"] .banner .wrap .right .wrap .left .updates .item {
  width: 300px !important;
  border: 2px solid #dedede;
  padding: 20px;
  margin-right: 20px;
  display: inline-block;
  min-height: 360px;
}
body div[role="main"] .banner .wrap .right .wrap .left .updates .slick-cloned {
  display: none;
}
body div[role="main"] .banner.inner .wrap .left {
  display: none;
}
body div[role="main"] .pagenav {
  display: none;
}
body div[role="main"] .infobar {
  display: none;
}
body div[role="main"] .content .wrap .content .form,
body div[role="main"] .content .wrap .content .contractbutton {
  display: none;
}
body div[role="main"] .timeselector,
body div[role="main"] .duties,
body div[role="main"] .filters {
  display: none;
}
body div[role="main"] .aboutblock,
body div[role="main"] .interested {
  margin-top: 50px;
  page-break-inside: avoid;
}
body div[role="main"] .floatingbutton {
  display: none;
}
body div[role="main"] .chiefjustice .info {
  margin-top: 20px;
}
body div[role="main"] .chiefjustice .info ul {
  display: none;
}
body div[role="main"] .judgelist .judge {
  width: 300px;
  display: inline-block;
}
body div[role="main"] .judgelist .judge .infobox {
  margin-top: 20px;
}
body div[role="main"] .judgelist .judge .infobox h3 {
  font-size: 15px;
}
body div[role="main"] .judgelist .judge .infobox ul {
  display: none;
}
body div[role="main"] .returnbutton {
  display: none;
}
body div[role="main"] .modal.mod .modal-dialog {
  margin-top: 100px;
  background: #fff;
  width: 100%;
  overflow: initial;
  position: static;
}
body div[role="main"] .modal.mod .modal-dialog .modal-header .share,
body div[role="main"] .modal.mod .modal-dialog .modal-header .close {
  display: none;
}
body div[role="main"] .modal.mod .modal-dialog .modal-header h4 {
  font-size: 18px;
}
body div[role="main"] .modal.mod .modal-dialog .modal-body .modal-photo {
  display: none;
}
body div[role="main"] .modal.mod .modal-dialog .modal-body .mod-tab {
  margin-top: 10px;
}
body div[role="main"] .modal.mod .modal-dialog .modal-body .mod-tab .tab-content .tab-pane {
  width: 100%;
  overflow: initial;
  font-size: 14px;
  height: auto;
}
body div[role="main"] .judgmentfilter .sort {
  display: none;
}
body div[role="main"] .judgmentblock > li {
  list-style: none;
}
body .accordion.custom li .cont {
  display: block !important;
}
body .accordion.custom.hearing {
  margin: 0;
  padding: 0px;
}
body .accordion.custom.hearing > li {
  padding: 20px;
}
body .accordion.custom.hearing > li .header {
  padding: 0;
  margin: 0;
}
body .accordion.custom.hearing > li .header .judge {
  padding: 0;
  margin: -30px 0 0 0;
}
body .accordion.custom.hearing > li .header .judge:before,
body .accordion.custom.hearing > li .header .judge:after {
  content: " ";
  display: table;
}
body .accordion.custom.hearing > li .header .judge:after {
  clear: both;
}
body .accordion.custom.hearing > li .header .judge .profilepicture {
  float: left;
  margin-right: 20px;
}
body .accordion.custom.hearing > li .header .judge .profile {
  margin-top: -10px;
  float: left;
}
body .accordion.custom.hearing > li .header .judge .profile .info {
  margin: 0;
  padding: 0;
}
body .accordion.custom.hearing > li .header .judge .profile .info .bio {
  display: none;
}
body .accordion.custom.hearing > li .header .judge .profile .info li {
  font-size: 12px;
}
body .accordion.custom.hearing > li .cont .panel-body .hearing-detail .time .wraps {
  padding: 0;
}
body .accordion.custom.hearing > li .cont .panel-body .hearing-detail .time .clock {
  display: block;
}
body .accordion.custom.hearing > li .cont .panel-body .hearing-detail .case .casenumber {
  display: block;
}
body .accordion.custom.hearing > li .cont .panel-body .hearing-detail .case .info {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
body .accordion.custom.hearing > li .cont .panel-body .hearing-detail .case .info li {
  display: block;
  margin-bottom: 10px;
}
body .accordion.custom.hearing > li .cont .panel-body .hearing-detail .case .info li label {
  display: block;
  font-size: 12px;
}
body footer {
  display: none;
}
