//- index.jade
- var title = "FrontEnd Presentation"
- var page = "home"

doctype html
html

	// header
	include ./includes/head.jade

	// body
	body

		// main
		div(role="main")
			.flowtime
				// introduction
				.ft-section
					.ft-page
						video(autoplay loop).video-bg
							source(src="img/video.mp4",type="video/mp4")
						.title-hero Javascript in Xtremax
						.title-person by FrontEnd Team
					.ft-page
						.title-page Javascript : Definition 
						.content.ft-fragment
							| JavaScript® (often shortened to JS) is a lightweight, interpreted, object-oriented language with first-class functions, most known as the scripting language for Web pages.​
					.ft-page
						.title-page Javascript : Usage in Front End Development​
						.content
							ul
								li.ft-fragment DOM Manipulation, Adding user interactivity to web pages.​
								li.ft-fragment Dropdown, Slider/Carousel, Parallax, AJAX, you name it.
							p.ft-fragment Sample :
							.ft-fragment
								.clm-2
									img(src="img/sample-1.png")
								.clm-2
									img(src="img/sample-2.png")
					.ft-page
						.title-page Javascript : jQuery​
					.ft-page
						.title-page Javascript : Why use jQuery?​

				// common usage
				.ft-section
					.ft-page section1/page1
					.ft-page section1/page2
					.ft-page section1/page2
					.ft-page section1/page1
					.ft-page section1/page2
		// footer
		include ./includes/script.jade