//- footer.jade
footer
	.container
		
		//- copy
		ul.copyright
			li
				a( href="#" title="#" )
					| &copy; SUPREME COURT
			li
				a( href="subscriberss.html" title="#" )
					img( src="img/ic-mail.png" alt="Mail")
					| SUBSCRIBE TO SUPREME COURT

		//- copy
		ul.footernav
			li
				a( href="termofuse.html" title="#" )
					| TERMS OF USE
			li
				a( href="#" title="#" )
					| PRIVACY POLICY
			li
				a( href="http://www.jusfeedback.asia/Community/se.ashx?s=7FDA9EA723A5704F&Agency=SUPCOURT&Svc=Information%20on%20the%20Singapore%20Judiciary%20and%20the%20Supreme%20Court&eLnk=www.supremecourt.gov.sg&Cat=Citizen" title="#" )
					| RATE THIS SITE
			li
				a( href="#" title="#" )
					| SUPPORTED BROWSERS
			