//- head.jade
head
	
	// meta
	title #{title}
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="#{title}")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="theme-color" content="#98012e")

	// icons
	link(rel="apple-touch-icon" href="apple-touch-icon.png")
	link(rel="icon" type="image/png" href="favicon.png")

	// stylesheets
	link(rel="stylesheet" href="js/vendor/bootstrap/css/bootstrap.css")
	link(rel="stylesheet" href="js/vendor/Flowtime.js/assets/css/reset.css")
	link(rel="stylesheet" href="js/vendor/Flowtime.js/css/flowtime.css")
	link(rel="stylesheet" href="js/vendor/Flowtime.js/css/themes/default.css")
	link(rel="stylesheet" href="js/vendor/Flowtime.js/assets/css/prism.css")
	link(rel="stylesheet" href="css/main.css")

	// script
	script(src="js/vendor/modernizr/modernizr.js")