// script
script(src="js/vendor/jquery/dist/jquery.min.js")
script(src="js/vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="js/vendor/slick.js/slick/slick.min.js")
script(src="js/vendor/customselect/jquery.customSelect.min.js")
script(src="js/vendor/rv-jquery-fontsize/js/rv-jquery-fontsize.min.js")
script(src="js/vendor/pickadate/lib/compressed/picker.js")
script(src="js/vendor/pickadate/lib/compressed/picker.date.js")
script(src="js/vendor/pickadate/lib/compressed/picker.time.js")
script(src="js/vendor/pickadate/lib/compressed/legacy.js")
script(src="js/plugins.js")
script(src="js/main.js")		