// script
script(src="js/vendor/jquery/dist/jquery.min.js")
script(src="js/vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="js/vendor/Flowtime.js/js/brav1toolbox.js")
script(src="js/vendor/Flowtime.js/js/flowtime.js")
script(src="js/vendor/Flowtime.js/assets/js/prism.js")
script(src="js/plugins.js")
script(src="js/main.js")		